.nav-container{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;

    background-color: #180F22;
    color: white;
}