.presentacion-container{
    display: flex;
    margin-top: 60px;
    width: 80vw;
    height: 80%;
    background-color: red;
}

.presentacion-foto{
    flex-grow: 1;
    background-color: blue;
}

.presentacion-nombre{
    flex-grow: 1;
    background-color: blueviolet;
}